.main-button {
    display: inline-block; /* строчно-блочный */
    background-color: #00e4a2; /* цвет кнопки  */
    border-radius: 20px; /* скругление углов */
    /*TODO change to em (near 2.8)*/
    text-transform: uppercase; /* трансформировать в заглавные буквы */
    text-decoration: none; /* не подчеркивать ссылку */
    transition: 0.2s; /* плавный ховер эффект */
    color: #f7f8e8; /* цвет текста на кнопке */
}

.btn-common {
    padding: 20px 60px; /* расстояние от текста до края кнопки */
    font-size: 50px; /* размер шрифта */
}

.btn-prize {
    padding: 10px 30px; /* расстояние от текста до края кнопки */
    font-size: 40px; /* размер шрифта */
}

input::-moz-placeholder {
    color: rgba(147, 158, 212, 0.67);
}

input::-webkit-input-placeholder {
    color: rgba(147, 158, 212, 0.67);
}

.text{
    text-align: center;
    font-family: "Comic Sans MS";
}

.title {
    font-size: 300%;
}

.desc {
    font-weight: normal;
}

.inner-container {
    margin-top: 2%;
}

input::placeholder {
    color: #333;
}

input:focus::placeholder {
    color: transparent;
}

textarea::placeholder {
    color: #333;
}
textarea:focus::placeholder {
    color: transparent;
}